body
    { 
      font-family: Arial; 
      font-size: 16pt;          
    }
    h1{
        font-family: Arial; 
        font-size: 40pt;
        text-align: center;
        border-width: 2px;
        color: gray
    }   
    div{    
        width: 700px;
        text-align: center;;
        padding: 5px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .cell {
        flex: 1;
        border: 1px solid black;
        padding: 5px;
        font-size: 20pt;
        border-radius: 10px;
    }
    .amarelo{
        background-color: yellow
    }
    .azul{
        background-color: rgb(201, 215, 255)
    }
    .cinza{
        background-color: rgb(238, 237, 237) 
    }
    h4{
        font-size: 10pt;
        text-align: center;
        font-family: Arial; 
        color: gray
    }